.card {
    text-align: center;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-body .btn {
    margin: 5px 0;
  }